body{
    background-image: url("data/People2.png");
    background-repeat: repeat;
    font-family: Verdana, sans-serif;
    margin: 0;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    color: #e5a3a1;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

iframe {
    border: none;
  }

  #switchButton {
    font-size: 18px; /* 设置字体大小 */
    padding: 12px 24px; /* 设置内边距（上下12px，左右24px） */
    border: none; /* 移除边框 */
    background-color: #e5a3a1; /* 设置背景颜色 */
    color: white; /* 设置文本颜色 */
    text-align: center;
    text-decoration: none;
    cursor: pointer; /* 将鼠标指针设置为手形 */
    border-radius: 40px; /* 设置圆角边框 */
    transition: background-color 0.6s; /* 添加背景颜色过渡动画 */
    /* 其他样式规则 */
    display: block; /* 设置为块级元素 */
    margin: 20px auto; /* 设置左右外边距为auto，自动居中 */
  }

  #switchButton:hover {
    background-color: #f3eae2; /* 设置鼠标悬停时的背景颜色 */
    color:#e5a3a1;
  }
  
  